body {
  background-image: url('/assets/fondo_rick_morty.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  font-family: Arial, sans-serif;
}

.logo {
    max-width: 120px;
    height: auto;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background-color: #1c1c1c;
  color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
h1 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 30px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.card {
  background-color: #2c2c2c;
  color: #f5f5f5;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.card-img-top {
  width: 100%;
  height: 500px; /* antes 250px */
  object-fit: cover;
  border-bottom: 3px solid #ffcc00;
}
.card-body {
  text-align: center;
}

.card-body h5 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 1rem;
  color: #ccc;
}

.btn-primary {
  background-color: #00bcd4;
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0097a7;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #757575;
  border: none;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #616161;
  transform: scale(1.05);
}
.movie-detail, .text-center {
  text-align: center;
}
.movie-detail img, .text-center img {
  max-width: 800px; /* antes 600px */
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.movie-detail h2, .text-center h2 {
  font-size: 2.2rem;
  color: #ffcc00;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.movie-detail p, .text-center p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.movie-detail p strong, .text-center p strong {
  color: #00bcd4;
}

.container p {
  text-align: center;
  font-size: 1.2rem;
  color: #bbb;
}

footer {
  background-color: #121212;
  color: #ffcc00;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.6);
  border-top: 2px solid #ffcc00;
}

footer a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #ffcc00;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .card-img-top {
    height: 250px; /* se ajusta un poco para pantallas chicas */
  }

  .movie-detail, .text-center {
    padding: 20px;
  }

  .movie-detail img, .text-center img {
    max-width: 100%;
  }

  .movie-detail h2, .text-center h2 {
    font-size: 1.6rem;
  }

  .movie-detail p, .text-center p {
    font-size: 1rem;
  }
}
